h1,
h2,
h3,
ul,
li,
p,
html,
body,
span,
dl,
dt,
dd {
	padding: 0;
	margin: 0;
}

html {
	font-size: 15.625vw;
}

body {
	background: #fff;
	height: 100vh;
}

#app {
	height: 100vh;
}

h1 {
	font-size: 0.14rem;
}

a {
	font-size: 0.24rem;
	text-decoration: none;
	color: #fff;
	font-family: "微软雅黑";
}

ul,
li {
	list-style: none;
}

.mui-bar-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ff4444;
}

.mui-bar-nav span {
	color: #fff;
}

#icon {
	font-size: 24px;
}

.mui-bar-tab a span {
	color: #666;
	font-size: 26px;
}
.title{
	margin-left: 0.1rem;
}
.title span {
	font-size: 0.24rem;
}

.w50 {
	width: 50%;
}

.mt {
	margin-top: 0.28rem;
}

.title i {
	color: #f7d643;
}
.mui-col-sm-6{
	text-align: center;
}
.mui-col-sm-6 img {
	width: 3rem;
	height: 3rem;
}
.ml{
	margin-left: 0.1rem;
}
.mtt {
	margin-top: 0.12rem;
}

.mui-icon.mui-active {
	color: #f44;
}

#logo {
	font-size: 0.3rem;
	margin-top: 0.1rem;
}

#logo_tit {
	font-size: 0.25rem;
}

.el-carousel {
	width: 100%;
	height: 100%;
}

.el-carousel img {
	width: 100%;
	height: 100%;
}

.time {
	font-size: 13px;
	color: #999;
}

.bottom {
	margin-top: 13px;
	line-height: 12px;
}

.button {
	padding: 0;
	float: right;
}

.image {
	width: 100%;
	display: block;
}
.el-carousel__indicators {
	display: none;
}
